extends layout

block content
  h1= title
  p Welcome to #{title}
  form(id="form", action="/non-followers")
    span Find non followers for @
      input(type="text", placeholder="twitter handle", id="inp", required=true)
    input(type="submit", value="Go")

  #target
    ul#list

  div(hidden=true)
    img(src="/images/spinner.gif", alt="fetching...", id="spinner")