doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(type="text/javascript", src="//code.jquery.com/jquery-1.10.2.min.js")
    script(type="text/javascript", src="/javascripts/nonfollow.js")